.header {
  margin-bottom: 20px; }
  .header__box {
    display: flex;
    justify-content: space-between;
    position: relative; }
  .header__dropdown-box {
    position: absolute;
    right: 0px;
    padding-top: 55px;
    display: flex;
    align-items: baseline; }
  .header__navigation-box {
    display: flex;
    align-items: flex-end; }
