.primary {
  color: #ffffff; }

.secondary {
  color: #AEAEAE; }

.black {
  color: #000000; }

.sm-font-size {
  font-size: 14px; }

.md-font-size {
  font-size: 16px; }

.lg-font-size {
  font-size: 18px; }

.xxl-font-size {
  font-size: 40px; }
