@import '../../assets/styles/scss/slyles.scss';

.search-box {
  position: relative;
  right: 120px;
  top: 10px;
  padding-left: 15px;

  @include breakpoint(769) {
    right: 60px;
    top: -31px;
  }

  &--active {
    background-color: $white;
    z-index: 3;
    position: relative;
    top: 54px;
    right: 140px;

    @include breakpoint(769) {
      right: 60px;
      top: -31px;
      border: 1px solid black;
    }
  }

  &__button {
    text-decoration: none;
    float: right;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 2s;
  }

  &__input {
    font-family: $ralewayFont;
    border: none;
    background: none;
    outline: none;
    padding: 0;
    font-size: 20px;
    transition: 0.4s;
    line-height: 50px;
     width: 0;
  }
}

.fa-search {
  font-size: 24px;
  color: $black;
  &:hover{
    cursor: pointer;
  }
}

.search-box--active > .search-box__input {
  width: 314px;

  @include breakpoint(769) {
    width: 214px;
  }

  @include breakpoint(450) {
    width: 80px;
  }
}