.container {
  padding: 0 15px;
}

@media (min-width: 576px) {
  .container {
    max-width: 563px;
    margin: auto;
    padding: 0;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 753px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 980px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1260px;
  }
}

@media (min-width: 1360px) {
  .container {
    max-width: 1350px;
  }
}

@media (min-width: 1460px) {
  .container {
    max-width: 1450px;
  }
}