@import '../../assets/styles/scss/slyles.scss';

.card {
  position: relative;
  margin-bottom: 30px;

  &__box {
    background-color: #3E3E3E;
    padding: 65px 30px;
    position: absolute;
    top: 60px;
    max-width: 751px;
  }

  &__image {
    width: 100%;
    max-height: 380px;
    height: 100vh;
    object-fit: cover;
  }

  &__title {
    margin-bottom: 25px;
  }
}