@import '../../assets/styles/scss/slyles.scss';

.navigation {

  &:nth-child(1) {
    background: url("../../assets/images/line.png") center bottom no-repeat;
    padding-bottom: 10px;
    margin-bottom: 30px;
  }

  &__link {
    font-family: $ralewayFont;
    font-weight: 500;
    padding: 65px 30px 7px 30px;
    margin-bottom: 13px;
    border-right: 1px solid rgba(62, 62, 62, 0.22);
    text-decoration: none;
    color: $black;
    @include breakpoint(992) {
      padding: 65px 10px 7px 10px;
    }
  }

  &__burger {
    font-family: $ralewayFont;
    font-weight: 500;
    border-right: none;
    padding: 20px 0px;
    color: $white;
    line-height: 21px;
  }

  @include breakpoint(769) {
    padding: 20px 0px;
    border-bottom: 1px solid $yellow;
    width: 90%;
    margin-left: 16px;
  }
}