@import '../../assets/styles/scss/slyles.scss';

.header {
  margin-bottom: 20px;

  &__box {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: flex-end;
  }

  &__dropdown-box {
    position: absolute;
    right: 0px;
    padding-top: 55px;
    display: flex;
    align-items: baseline;
  }

  &__navigation-box {
    display: flex;
    margin-top: -13px;
  }

  &--display-none {
    padding-top: 85px;

    @include breakpoint(769) {
      display: none;
    }
  }
}